<h1>Welcome to Rock-Paper-Scissors</h1>
<p>Choose your move:</p>
<ul>
  <li><%= link_to "Rock", "/rock" %></li>
  <li><%= link_to "Paper", "/paper" %></li>
  <li><%= link_to "Scissors", "/scissors" %></li>
</ul>
