<h1>Rock-Paper-Scissors</h1>
<p>You chose: <%= @player_move %></p>
<p>Computer chose: <%= @computer_move %></p>
<h2><%= @result %></h2>
<%= link_to "Play Again", root_path, class: "btn btn-primary" %>
